<h2>Mountain Details</h2>

<p>Name: <%= @mountain.name %> </p>
<p>Size: <%= @mountain.size %> </p>
<p>Number of runs: </p>
<p>Map: <%= @mountain.map %> </p>
<p>Highest point: <%= @mountain.highest_point %></p>
<p>Number of bars: <%= @mountain.number_of_bars %></p>


  <%= link_to 'Edit Mountain', mountain_path %>
