<h2>Mountain Details</h2>


<p>Name: <%= @mountain.name %> </p>
<p>Size: <%= @mountain.size %> </p>
<p>Number of runs: <%= @mountain.runs.length %> </p>
<p>Map: <%= cl_image_tag @mountain.map %> </p>
<p>Highest point: <%= @mountain.highest_point %></p>
<p>Number of bars: <%= @mountain.number_of_bars %></p>

<%= link_to 'Edit Mountain', edit_mountain_path( @mountain ) %>

<h2>Your <%= @mountain.name %> Claim history</h2>

<p><%= @mountain.name %> Runs skied:

<% @user_runs.each do |r| %>

  <p> <%= link_to r.name, run_path(r.id) %></p>

<% end %>
</p>

<h3>What you still have to claim</h3>

All <%= @mountain.name %> runs:

  <%#= Runs.where(:mountain @mountain) %> <%#= check_box_tag :ridden, false, is_checked? %>

  <%# end %>
