
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>


  <!--Video Section-->
  <section class="content-section video-section">
    <div class="pattern-overlay">
    <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=aDEaAOcDKnA',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
          <h1>CLAIM</h1>
          <% if flash[ :error ].present? %>
          <p><strong> <%= flash[ :error ] %> </strong></p>
          <% end %>

          <%= form_tag login_path do %>

            <%= label_tag 'Email' %>
            <%= email_field_tag :email, nil %>
            <br>

            <%= label_tag 'Password' %>
            <%= password_field_tag :password, nil %>
            <br>

            <%= submit_tag 'Login' %>
          <% end %>
          <h3>CLAIM YOUR MOUNTAIN</h3>
  	   </div>
        </div>
      </div>
    </div>
  </section>
