<h2>Rider Details</h2>

<% if @current_user == @user %>
  <% link_to 'Edit Profile', edit_user_path(@user) %>
<% end %>

<p>Name: <%= @user.name %> </p>
<p>Age: <%= @user.age %> </p>
<p>Sliding style: <%= @user.ski_type %> </p>
<p>Sponsor shot: <%= @user.photo %> </p>
<p>Nickname: <%= @user.nickname %> </p>
<p>Nationality: <%= @user.nationality %> </p>
<p>Home Mountain: <%= @user.home_mountain %> </p>
<p>Email: <%= @user.email %> </p>
<p>Mountains skied: </p>
<p>Runs entered: </p>
