
<h2>Rider Deets</h2>

<% if @current_user == @user %>
  <%= link_to 'Edit Profile', edit_user_path(@user) %>
<% end %>

<p>Name: <%= @user.name %> </p>
<p>Age: <%= @user.age %> </p>
<p>Sliding style: <%= @user.ski_type %> </p>
<p>Sponsor shot:</p>
<p><%= cl_image_tag @user.photo %> </p>
<p>Nickname: <%= @user.nickname %> </p>
<p>Nationality: <%= @user.nationality %> </p>
<p>Home Mountain: <%= @user.home_mountain %> </p>
<p>Email: <%= @user.email %> </p>

<h2>Mountain Information</h2>

<p>Mountains Claimed:

<% @user.mountains.uniq.each do |m| %>

  <p> <%= link_to m.name, mountain_path(m.id) %> </p>

<% end %>
</p>


<p>
  <%= form_tag update_user_mountains_path(@user) do %>
  <%= label_tag :CLAIM_NEW_MOUTAIN %>
  <%= collection_check_boxes( :mountain, :mountain_id, @user_remaining_mountains, :id, :name, {:prompt => true}, {multiple: true}) %>
  <%= submit_tag( "Claim" ) %>
  <% end %>
</p>

<p>
  <button> <%= link_to 'ENTER NEW MOUNTAIN', new_mountain_path %> </button>
</p>


<p>
  <%= form_tag do %>
  <%= label_tag :enter_geo_tag %>
  <%= submit_tag( "Start tracking" ) %>
  <% end %>
</p>
