<h2>Run Info</h2>

<p>Name: <%= @run.name %></p>
<p>Length: <%= @run.length %></p>
<p>Diffiulty: <%= @run.difficulty %></p>
<p>Number of deaths: <%= @run.number_of_deaths %></p>
<p>Image: <%= cl_image_tag @run.image %> </p>
<p>Mountain Location: <%= @run.mountain.name %></p>

<%= link_to 'Edit Run', edit_run_path( @run ) %>

<h3>Claim History</h3>

<p>
  <button>
    CLAIM
  </button>
</p>

<p>
  Number of times run claimed:
</p>

<p>
  Total claim stats: (this will be added later)
</p>

<button><%= link_to "Back to Mountains", mountain_path %></button>
