<h2>Mountain Details</h2>

<p>Name: <%= @run.name %> </p>
<p>Size: <%= @run.size %> </p>
<p>Number of runs: </p>
<p>Map: <%= cl_image_tag @run.map %> </p>
<p>Highest point: <%= @run.highest_point %></p>
<p>Number of bars: <%= @run.number_of_bars %></p>
